.profile-image__edit-icon {
  height: 26px;
  width: 26px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.profile-image__edit-icon img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(0 0 6px transparent);
  transition: all 0.3s;
}

.profile-image__edit-icon img:hover {
  filter: drop-shadow(0 0 6px #ffffd0);
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .profile-image__edit-icon {
    opacity: 1;
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
  .profile-image__edit-icon img {
    display: none;
  }
}
