/*.content-start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .content-start {
    padding: 0 18px;
  }
}
*/
.content-start {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .content-start {
    padding: 0 18px;
    min-height: 510px;
  }
}
