.loading-page {
  width: 100%;
  /*min-height: 280px;*/
  padding: 65px 0;
  max-width: 880px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-page-main {
  width: 100%;
  /*max-width: 880px;
  min-height: 280px;*/
  padding: 65px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
